NEXT_PUBLIC_DFX_NETWORK=
NEXT_PUBLIC_DFX_REPLICA_HOST=
NEXT_PUBLIC_DFX_REPLICA_PORT=
NEXT_PUBLIC_CANISTER_ID_BACKEND=
NEXT_PUBLIC_CANISTER_ID_FRONTEND=
NEXT_PUBLIC_ICP_LEDGER_CANISTER_ID=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_INTERNET_IDENTITY_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
